absl-py
appdirs
appnope
asgiref
asttokens
astunparse
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
contourpy
crispy-bootstrap5
cycler
Cython
decorator
defusedxml
Django
django-crispy-forms
django-debug-toolbar
djangorestframework
docker-pycreds
einops
executing
Farama-Notifications
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fsspec
gast
geographiclib
geopy
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gym
gym-notices
gymnasium
h5py
hnswlib
huggingface-hub
idna
imageio
ipython
itsdangerous
jax
jax-jumpy
jaxlib
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab-pygments
keras
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapy @ git+https://github.com/PWhiddy/mediapy.git@45101800d4f6adeffe814cad93de1db67c1bd614
mistune
ml-dtypes
mpmath
mysqlclient
namex
nbclient
nbconvert
nbformat
networkx
numpy
oauthlib
opencv-python
opt-einsum
optree
packaging
pandas
pandocfilters
parso
pathtools
pexpect
pickleshare
Pillow
pipeline
platformdirs
prompt-toolkit
protobuf
psutil
psycopg2-binary
#psycopg2
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pyboy
Pygments
pyparsing
PySDL2
pysdl2-dll
python-barcode
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
Shimmy
six
smmap
soupsieve
sqlparse
stable-baselines3
stack-data
sympy
#tensorboard
#tensorboard-data-server
#tensorflow
#tensorflow-intel
#tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wandb
wcwidth
webencodings
Werkzeug
wrapt
