{# templates/inventory/modules/qr_actions_dropdown.html #}
{% with oparam=overview.slug|default_if_none:'' nextparam=request.get_full_path|urlencode %}

  {# Nutzung der Model-Properties: item.qr_exists und item.qr_url #}
  {% if item.qr_exists %}
    <li>
      <a href="{{ item.qr_url }}" target="_blank" rel="noopener" class="dropdown-item">
        QR anzeigen
      </a>
    </li>
    <li>
      <a href="{{ item.qr_url }}" download class="dropdown-item">
        QR herunterladen
      </a>
    </li>
  {% else %}
    <li>
      <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">QR anzeigen</a>
    </li>
    <li>
      <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">QR herunterladen</a>
    </li>
  {% endif %}

  <li>
    <form method="post"
          action="{% url 'regenerate-qr' item.id %}"
          class="m-0">
      {% csrf_token %}
      {% if oparam %}<input type="hidden" name="o" value="{{ oparam }}">{% endif %}
      {% if nextparam %}<input type="hidden" name="next" value="{{ nextparam }}">{% endif %}
      <button type="submit" class="dropdown-item">QR neu generieren</button>
    </form>
  </li>

{% endwith %}
