{% extends 'inventory/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Barcode-Liste</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Artikelname</th>
                    <th scope="col">Barcode</th>
                </tr>
            </thead>
            <tbody>
                {% if items %}
                    {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.barcode }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">Keine Barcodes verfügbar</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
